.imageupload {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  margin: 10px auto;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 20px;
  object-fit: contain;
}
.imageupload > * {
  display: block;
  margin: 10px 0;
}

.imageupload__progress {
  width: 100%;
}